<% provide(:title, "About") %>
<h1>About</h1>
<p>
 <!-- About Section -->
    <section class="success" id="about">
        
                <div class="container">
						
						<div class="touch-grids">
							<div class="col-md-6 touch-grid">
								
								<center><h4>SYKAM RAMAKRISHNA REDDY</h4>
								

<h5>President </h5>

<p>Indian Pictures Group Worldwide (iPG)</p>
<p>Sykam Masthan Reddy Estates,</p>
<p>Ballavaram (V & P), Veligandla (M),</p> 
<p>Kanigiri (TQ), Prakasam (Dist)</p>
<p>Andhra Pradesh, INDIA - 523 223</p>

<p>E-mail: SRK.REDDY@ipg-movies.com</p>
       
<p>Web: www.iPG-Movies.com</p></center>




							</div>
							<div class="col-md-6 touch-grid">
								
								<center><h4>SYKAM RAMAKOTAMMA REDDY</h4>

<h5>Senior Vice President</h5>

<p>Indian Pictures Group Worldwide (iPG)</p>
<p>Sykam Masthan Reddy Estates,</p>
<p>Ballavaram (V & P), Veligandla (M),</p> 
<p>Kanigiri (TQ), Prakasam (Dist)</p>
<p>Andhra Pradesh, INDIA - 523 223</p>

<p>E-mail: svp@ipg-movies.com</p>

<p>www.ipg-movies.com</p></center>
							</div>
							
							<div class="clearfix"></div>
						</div>
					</div>


</p></td></tr></table></h6>
                </div>
                
            </div>
        </div>
    </section>

    
    
  
  
</p>

