<footer class="footer">
  <h5><center>
    The <a href="http://www.ipg-movies.com/">Sykam Hollywood Movies</a>
    by <a href="http://bitcoin-india.org/">Bitcoin India</a>
   </center></h5>
  
</footer>

